<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Homepage - Snippetbox</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Snippetbox</a></h1>
        </header>
        <nav>
            <a href="/">Homepage</a>
        </nav>
        <main>
            <h2>Last note</h2>
            <p>Content</p>
        </main>
    </body>
</html>